<h1 style="    padding-top: 48px;
    padding-bottom: 40px;">강의</h1>
<ul class="list-group">
  <li class="list-group-item"><span class="badge badge-secondary">미수강</span><br>Cras justo odio</li> ::after
  <li class="list-group-item"><span class="badge badge-success">완료</span><br>Dapibus ac facilisis in</li>
  
</ul>

